body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.badge, .btn-primary-gradient {
    background: linear-gradient(90deg, rgba(94,28,68,1) 0%, rgba(200,104,114,1) 100%);
    border: none;
}

.btn-primary-gradient:hover {
    background: linear-gradient(90deg, rgba(200,104,114,1) 0%, rgba(94,28,68,1) 100%);
    transition: 0.3s;
}

.shadow-lg {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.article-image {
    height: 200px;
    object-fit: cover;
}

.tag-container {
    margin-bottom: 0;
}